
<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.sections.allStdWrap">

	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.masterhead.preCObject" data="{_all}" />
	<f:render section="Masterhead" />
	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.masterhead.postCObject" data="{_all}" />

	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.main.preCObject" data="{_all}" />
	<f:render section="Main" />
	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.main.postCObject" data="{_all}" />

	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.complementary.preCObject" data="{_all}" />
	<f:render section="Complementary" />
	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.complementary.postCObject" data="{_all}" />

	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.footer.preCObject" data="{_all}" />
	<f:render section="Footer" />
	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.footer.postCObject" data="{_all}" />

</f:cObject>
