
<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.sections.allStdWrap">

	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.masterhead.preCObject" data="{_all}" />
	<f:render section="Masterhead" />
	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.masterhead.postCObject" data="{_all}" />

	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.main.preCObject" data="{_all}" />
	<f:render section="Main" />
	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.main.postCObject" data="{_all}" />

	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.bottom.preCObject" data="{_all}" />
	<f:render section="Bottom" />
	<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.columnHooks.bottom.postCObject" data="{_all}" />

</f:cObject>
