
<f:layout name="Default" />

<f:section name="Masterhead">

	<f:render partial="Masterhead" />

</f:section>

<f:section name="Layout">

	<section id="main"{f:cObject(typoscriptObjectPath: 'lib.tx_adxbackendlayout.layoutF11C1323F11.group.class', data: '{_all}')}{f:cObject(typoscriptObjectPath: 'lib.tx_adxbackendlayout.layoutF11C1323F11.group.style', data: '{_all}')} role="main">
		<div class="columnGroupWrap">

			<div id="feature"{f:cObject(typoscriptObjectPath: 'lib.tx_adxbackendlayout.layoutF11C1323F11.feature.class', data: '{_all}')}{f:cObject(typoscriptObjectPath: 'lib.tx_adxbackendlayout.layoutF11C1323F11.feature.style', data: '{_all}')} role="complementary">
				<f:render partial="ColumnFeature" arguments="{columnContent: columnFeature}" />
			</div><!-- #feature end -->

			<div id="content"{f:cObject(typoscriptObjectPath: 'lib.tx_adxbackendlayout.layoutF11C1323F11.group.class', data: '{_all}')}{f:cObject(typoscriptObjectPath: 'lib.tx_adxbackendlayout.layoutF11C1323F11.group.style', data: '{_all}')} role="group">
				<div class="columnGroupWrap">

					<div id="asideLeft"{f:cObject(typoscriptObjectPath: 'lib.tx_adxbackendlayout.layoutF11C1323F11.asideLeft.class', data: '{_all}')}{f:cObject(typoscriptObjectPath: 'lib.tx_adxbackendlayout.layoutF11C1323F11.asideLeft.style', data: '{_all}')} role="complementary">
						<f:render partial="ColumnAsideLeft" arguments="{columnContent: columnAsideLeft}" />
					</div><!-- #asideLeft end -->

					<div id="articles"{f:cObject(typoscriptObjectPath: 'lib.tx_adxbackendlayout.layoutF11C1323F11.article.class', data: '{_all}')}{f:cObject(typoscriptObjectPath: 'lib.tx_adxbackendlayout.layoutF11C1323F11.article.style', data: '{_all}')} role="article">
						<f:render partial="ColumnArticle" arguments="{columnContent: columnArticle}" />
					</div><!-- #articles end -->

					<div class="clear"></div>

					<f:cObject typoscriptObjectPath="lib.tx_adxbackendlayout.sections.toTopBottom" data="{_all}" />

				</div>
			</div><!-- #content end -->

		</div>
	</section><!-- #main end -->

</f:section>

<f:section name="Complementary">

	<section id="complementary"{f:cObject(typoscriptObjectPath: 'lib.tx_adxbackendlayout.layoutF11C1323F11.complementary.class', data: '{_all}')}{f:cObject(typoscriptObjectPath: 'lib.tx_adxbackendlayout.layoutF11C1323F11.complementary.style', data: '{_all}')} role="complementary">
		<f:render partial="Complementary" arguments="{columnContent: complementary}" />
	</section><!-- #complementary end -->

</f:section>

<f:section name="Footer">

	<f:render partial="Footer" />

</f:section>
